$width: 80%;
$max-width: 960px;
$rougeh2: #4b0000;
$rougeh3: #622c2c;
$bgc: rgb(173, 173, 173);
$fontp: Arial, Helvetica, sans-serif;
$size14: 14px;


body{
  background-color: $bgc;
  padding: 0px;
  margin: 0px;
}
p{
  font: $fontp;
  font-size: $size14;
}
h2{
  color: $rougeh2;
}
h3{
  color: $rougeh3;
}
.container{
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  width: $width;
  max-width: $max-width;
  margin: 0 auto;
}
@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
      -ms-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}
.container header{
  display: grid;
  min-height: 250px;
  background-image: url("../img/web-design.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position:center;
  @include background-size(cover);
  #citation{
    justify-self: end;
    align-self: flex-end;
    text-align: right;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px 0px 0px 0px;
  }
}
header q{
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 24px;
}
@import "nav.scss";

@media screen and (min-width: 720px)
{
@import "720min.scss";
}
@media screen and (max-width: 720px)
{
@import "720max.scss";
}
