body {
  background-color: #adadad;
  padding: 0px;
  margin: 0px; }

p {
  font: Arial, Helvetica, sans-serif;
  font-size: 14px; }

h2 {
  color: #4b0000; }

h3 {
  color: #622c2c; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.icone-fontawesome {
  padding-left: 20px;
  padding-right: 20px;
  color: #cccccc; }

.container {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  width: 80%;
  max-width: 960px;
  margin: 0 auto; }

.container header {
  display: grid;
  min-height: 250px;
  background-image: url("../img/web-design.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  -ms-background-size: cover;
  background-size: cover; }
  .container header #citation {
    justify-self: end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: right;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 20px 0px 0px 0px; }

header q {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 24px; }

aside q {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-size: 16px; }

.container nav {
  background-color: #20212d;
  text-align: right;
  font-size: 16px;
  font-weight: 600; }
  .container nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-shadow: 1px 1px 1px #323131;
    font-family: Arial; }
    .container nav ul li {
      color: #747474;
      font-size: 14px;
      padding: 10px 10px 10px 10px; }
    .container nav ul a {
      color: #ffffff;
      text-decoration: none; }
      .container nav ul a:hover {
        color: #d1d1d1; }

.container section {
  background-color: #fff;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  /*baseline; stretch;*/ }

.container article {
  padding: 10px 30px 10px 20px; }

.container aside {
  -ms-flex-item-align: self-start;
      align-self: self-start;
  background-color: #c3c3c3;
  text-align: right; }

.container footer {
  padding: 10px;
  text-align: right;
  background-color: #20212d;
  color: #ffffff; }

@media screen and (min-width: 720px) {
  .container ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }

  ul li {
    padding: 10px; }

  .container section {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    min-height: 250px; }

  .container section article {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: left; }

  .container section aside {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    padding: 30px 30px 30px 30px;
    border-radius: 0px 0px 0px 20px; } }
@media screen and (max-width: 720px) {
  .container section {
    display: grid;
    /*grid-template-rows: 1fr;
    grid-template-columns: 1fr;*/ }

  .container section .article {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: left; }

  .container section aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding: 5px; } }

/*# sourceMappingURL=style.css.map */